body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.tips{
	margin: 15px;
	padding: 15px;
	font-size: 14px;
	line-height: 1.5em;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #fff;
}
