body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.tips{
	margin: 15px;
	padding: 15px;
	font-size: 14px;
	line-height: 1.5em;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #fff;
}
.linux-log{
	margin: 15px;
	padding: 15px;
	color: #fff;
	background-color: #000;
	border-radius: 3px;
}
#shell-input{
	margin: 15px;
	padding: 5px;
	width: 200px;
	height: 20px;
	border-radius: 2px;
	border: 1px solid #aaa;
}
